/* Reset some default styles */
body, h2, form, input {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the signup container */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

/* Style the form elements */
h2 {
    color: #0066cc;
    font-size: 1.5em;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005299;
}
